* {
}
  .bgcolor{
    transition:1.5s ease-in;
    background:transparent !important;
  }
  .bgcolor.scrolled{
    background: black !important;
  }
  
  .top {
    background-image: url(image/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
   
  }
  #contact{
    padding-top: 200px;
  }

  
.nav-brand {
  width: 5%;
  cursor: pointer;
  margin-left: 50px;
}

 ul li {
  padding: 20px 40px;
  font-size: 20px;
  color: #000000;
}
.text-block{
  position: absolute ;
  top: 25%;
  background: rgba(12, 86, 28, 0.5);
  color: white;
width:100%;
max-width: 500px;
height: auto;

  text-align: center;
  border-radius: 0px 20px 20px 0px;
}



.boston {

  margin-top: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  color: #ff6420;
  font-size: 80px;
  
}
.part2{
  background: rgba(0, 44, 62, 1);
}

.fest{
  font-size: 30pt;
  font-family: serif;
  }
.notice{
  font-size: 15pt;
  font-family: serif;
}
.text-block .btn{
  margin-bottom: 50px;
  background-color: #b60e13; /* Green */
  border:none;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}
.text-block .btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: rgb(255, 255, 255);
  color: #c60d0d;
 

}

.writing{
  margin-top: 10%;
}
.explore{
  font-size: 50px;
  color: #c60d0d;
  

  
}
.line{
  border: 5px solid rgb(0, 0, 0);
  border-radius: 5px;
  height: 1px;
  width: 190px;
  
   
}
.detail{
width: 70%;
color: aliceblue;

}

.ayush{
  display: flex;
  flex-direction: row;
  overflow-y: none;
  
}

.gallery{
  padding-top: 80px;
  padding-bottom: 80px;
   display: flex;
   overflow:scroll;
   scroll-behavior: smooth;
}
.animation {
  width: 437px;  
  min-width: 639px;
  display: flex;
}

::-webkit-scrollbar{
   display: none;
   
}
.left{
  cursor: pointer;
} 
.right{
  cursor: pointer;
}
.card{
border: 1px solid whitesmoke;
width:200px;
height: 400px;
min-width:200px;
min-height:400px;
transition-duration: 1000ms;
margin: 5px;
z-index: 1;

}
.p1{
background: url(image/shakw.jpg);
background-size: cover;
}
.p2{
background:url(image/avatar.jpg);
background-size: cover;

}
.p3{
background:url(image/bad\ boys.jpg);
background-size: cover;
}
.p4{
background:url(image/jurassic\ world.jpg);
background-size: cover;
}
.p5{
background:url(image/doctor\ strange.jpg);
background-size: cover;
}
.p6{
background:url(image/spiderman.jpg);
background-size: cover;
}
.part3{
  background:  #17474c;
  padding-top: 30px ;
}

.date{
  
 
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  color: red;
  
}

.movies {
  
  background-color:rgba(7, 8, 17, 0.31); 
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  
  
}
.movies h1{
  margin-left: 3px;
  color:#c60d0d;
  

}
.movies .btn{
  color: #f4f4f4;
}
.carousel{
  padding:20px 0 30px 0;
}
.card-img-top{
  height: 90%;
}
.part4{
  background-color:#f7f8fc;
}
.p4head{
  padding-top: 50px;
  text-align: center;
  padding-bottom: 5%;
}
.how-it-works{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f4f4f4;
}
.how-it-works .card{
  width: 12rem;

}
.reg-dir{
  background-color: #f7f8fc ;

}

.reg{
  
  margin-left: 150px;
  padding: 25px 0;
  font-size: 45px;
  text-transform: uppercase;
  font-family: oswald;
  font-weight: 700;
  text-shadow: 0 1px 2px rgba(0,0,0,0.24);


}
.section-form{
  box-shadow: rgba(0,0,0,0.24) 0 5px 15px;
  padding: 40px 30px;


}
.map-area{
  width: 600px;
  height: 415px;
  box-shadow: rgba(0,0,0,0.24) 0 5px 15px;

}
.register-area{
  padding-bottom: 100px;
}





  





@media screen and (max-width:768px) {
  .text-block .btn{
    
  }
  .writing {
    margin-left: 0%;
    text-align: center;
    
  }
  .detail{
  width:fit-content;
  }
  
  .line{
    margin-left: 40%;
    width: 160px;
    
  }
  .animation {
    min-width: 500px;
  }
  .ayush{
    flex-direction: column;
    
  }
  .card{
    width:70px;

    
    }
    .carousel img{
      width: calc(100% /3);

    }

  }
  

  @media screen and (max-width:480px) {

    .animation{
      min-width: 200px;
    }
    .line{
      width: 85px;  
  }
  .carousel img{
    width: calc(100% /2);

}


}  