*{
    background-color:  rgba(0, 44, 62, 1) ;
}
.nav-brand {
    width: 5%;
    cursor: pointer;
    margin-left: 50px;
  }

  ul li {
    padding: 20px 40px;
    font-size: 20px;
    color: #000000;
  }
  .text-center{
    text-align: center;
    padding-bottom: 50px;
    font-size: 40px;
    color: red;
  }


.top{
    
}
#contact{
    padding-top: 170px; 

}
.form-group{
    width: 700px;
    margin-left: 70px;
}