*{
    background-color:  rgba(0, 44, 62, 1) ;
}
.nav-brand {
    width: 80px;
    cursor: pointer;
    margin-left: 50px;
  }

  ul li {
    padding: 20px 40px;
    font-size: 20px;
    color: #000000;
  }
  .text-center{
    text-align: center;
    padding-bottom: 50px;
    font-size: 40px;
    color: red;
  }
  .card-body{
    height: 100px;
    background-color: aliceblue;
    
  }
.card{
  background-color: aliceblue;
  height:100px ;
  margin-top: 200px;

}
.card-title{
  background-color: aliceblue;
  }
.card-text{
    background-color: aliceblue;
  }