
/*navbar and logo*/
.nav-brand {
    width: 5%;
    cursor: pointer;
    margin-left: 50px;
  }
  
   ul li {
    padding: 2% 4%;
    font-size: 25px;
    color: #000000;
  }
  /*header section 1*/
.top {
    /* background-color:  rgba(0, 44, 62, 1) ; */
    background-image: url(image/thor3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
   
  }
  .text-block{
    /* position: absolute ;
    top: 25%;
    background:rgba(17, 72, 17, 0.275);
    color: white;
    width:100%;
    max-width: 500px;
    height: auto;
  
    text-align: center;
    border-radius: 0px 20px 20px 0px; */
    
      position: absolute;
      top: 25%;
      background: rgba(17, 72, 17, 0.275);
      color: white;
      width: 100%;
      max-width: 35%;
      height: auto;
      text-align: center;
      border-radius: 0px 20px 20px 0px;

  }
  .boston {

    margin-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: #ff6420;
    font-size: 50px;
    
    }
    .text-block .btn{
      margin-bottom: 50px;
      background-color: #b60e13; 
      border:none;
      border-radius: 20px;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      font-family:'Times New Roman', Times, serif;
      cursor: pointer;
      transition-duration: 0.4s;
}  
.text-block .btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: rgb(255, 255, 255);
  color: #c60d0d;
 

}
.text-block p {
  padding-right: 50px;
  text-align: center;
}



.gallery {
 padding: 8% 0; 
 
  display: flex;
  flex-direction: row;
  overflow: auto;
  scroll-behavior: smooth;
}
.animation {
  width: 640px;
  min-width: 639px;
  display: flex; 
  margin-left: 50%;
  padding-top: 5%;
}
::-webkit-scrollbar{
  display: none;
}
.left{
  cursor: pointer;
} 
.right{
  cursor: pointer;
}
.card{
border: 1px solid whitesmoke;
width: 250px;;
height: 40vh;
min-width:200px;
min-height:400px;
transition-duration: 1000ms;
margin: 5px;
z-index: 1;

}
.p1{
background: url(/final/image/shakw.jpg);
background-size:cover;
}
.p2{
background:url(image/avatar.jpg);
background-size: cover;

}
.p3{
background:url(image/bad\ boys.jpg);
background-size: cover;
}
.p4{
background:url(image/jurassic\ world.jpg);
background-size: cover;
}
.p5{
background:url(image/doctor\ strange.jpg);
background-size: cover;
}
.p6{
background:url(image/spiderman.jpg);
background-size: cover;
}
/*this is part 2 movie section*/

.part2{
  background:  #17474c;
  padding-top: 30px ;
}

.movies {
  
  background-color:rgba(7, 8, 17, 0.31); 
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  
  
}
.movies h1{
  margin-left: 3px;
  color:#c60d0d;
  
  }

  .date{
  
 
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    color: red;
    
  }
  .movies .btn{
    color: #f4f4f4;
  }


  .carousel{
    padding:20px 0 30px 0;
  }
  .card-img-top{
    height: 70%;
  }
  
  /*Part 4 how it works*/
  .part4{
    background-color:#f7f8fc;
  }
  .p4head{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 5%;
  }
  .how-it-works{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f4f4f4;
    
    }
    .cardas{
      column-count: 4;
    }
  
  
  .how-it-works .card{
    width: 12rem;
    
    }

    #reg-dir{
      background-color: #378797 ;
    
    }
    .reg{
  
      margin-left: 150px;
      padding: 25px 0;
      font-size: 45px;
      text-transform: uppercase;
      font-family: oswald;
      font-weight: 700;
      text-shadow: 0 1px 2px rgba(0,0,0,0.24);
    
    
    }
    .section-form{
      box-shadow: rgba(0,0,0,0.24) 0 5px 15px;
      padding: 40px 30px;
    
    
    }
    .map-area{
      width: 600px;
      height: 380px;
      box-shadow: rgba(0,0,0,0.24) 0 5px 15px;
    
    }
    .register-area{
      padding-bottom: 100px;
    }

    .slider-container {
      width: 100%;
      overflow: hidden;
      position: relative;
      padding-bottom: 30px;
      padding-top: 30px;
    }
    
    .slider {
      display: flex;
      transition: transform 0.5s;
    }
    
    .movie-card {
      flex: 0 0 300px;
      margin-right: 30px;
      padding: 10px;
      background-color: rgba(0, 44, 62, 1);
      color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      border-radius: 20px;
      cursor: pointer;
    }
     .movie-card  :hover{
      transform: scale(1.1);
      transition:0.5s ;
    }
    
    .movie-card img {
      width: 100%;
      height: 80%;
      border-radius: 20px;
    }
    
    .movie-info {
      text-align: center;
    }
    
    .movie-info h3 {
      margin: 10px 0;
      font-size: 18px;
      padding-top: 10px;
    }
    
    .movie-info p {
      font-size: 14px;
      color: #ccc;
      margin-bottom: 0;
    }
    .prev-btn,
    .next-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      font-size: 70px;
      color: #fffafa;
      cursor: pointer;
    }
    
    .prev-btn {
      left: 7px;
    }
    
    .next-btn {
      right: 7px;
    }
    .mondal-content{
      max-width: 500px;
    }
    
    .movie-card {
      display: inline-block;
      margin: 10px;
    }
    
    .movie-image {
      width: 200px;
      height: 300px;
    }
    
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.8);
    }
    #modal-image{
      width: 250px;

    }
    
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      max-width: 500px;
      height: auto;
      
    }
    
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }
    
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    .watch-trailer-btn{
     
      background-color: #b60e13; 
      border:none;
      border-radius: 20px;
      color: white;
      padding: 5px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      font-family:'Times New Roman', Times, serif;
      cursor: pointer;
      transition-duration: 0.4s;
      
    }
    .b1utton {
      position: relative;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background: #f72323;
      padding: 1em 2em;
      border: none;
      color: white;
      font-size: 1.2em;
      cursor: pointer;
      outline: none;
      overflow: hidden;
      border-radius: 100px;
    }
    .b1utton span {
      position: relative;
      pointer-events: none;
    }
    .b1utton::before {
      --size: 0;
      content: '';
      position: absolute;
      left: var(--x);
      top: var(--y);
      width: var(--size);
      height: var(--size);
      background: radial-gradient(circle closest-side, #1a4b5b, transparent);
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      transition: width .2s ease, height .2s ease;
    }
    .b1utton:hover::before {
      --size: 1000px;
    }
    .view-all{
      text-decoration: none;
      font-size: 20px;
      padding-right: 30px;
      color: rgb(219, 219, 219);

    }
  














@media  screen and (max-width:1281px) {
 .animation{
  margin-left: 42%;
 }
 .map{
  width: 550px;
 } 
 .map-area{
  width: 550px;
  
  }
  .cardas{
    column-count: 4;
  }


  
}
@media  screen and (max-width:1150px) {
  .animation{
    margin-left: 39%;
    padding-top: 10%;
    width:530px ;
    min-width:590px;



  }
  .card{
    width: 270px;
    min-height: 300px;
  }
  .text-block{
    max-width: 400px; 
  }
  .map{
    width: 480px;
   } 
   .map-area{
    width: 480px;
    
    }
    .mondal .container{
      max-width: 500px;
    }
  

}
@media  screen and (max-width:1000px){
  .text-block{
    max-width: 350px; 
  }
  .animation{
    margin-left: 35%;
    padding-top: 15%;
  }
  .map{
    width: 450px;
   } 
   .map-area{
    width: 450px;
    
    }
  .reg{
    margin-left: 80px;
  }

}
@media  screen and (max-width:970px){
  .animation{
    
    
  }
  .map{
    width: 420px;
   } 
   .map-area{
    width: 420px;
    
    }
   
    
  }


  
  @media  screen and (max-width:870px){
    .map{
      width: 370px;
     } 
     .map-area{
      width: 370px;
      
      }
      .cardas{
        column-count: 2;
      }
    
      @media screen and (max-width: 768px) {
        .text-block {
          max-width: 50%;
        }
        
        .gallery {
          padding: 8% 0;
          display: flex;
          flex-direction: row;
          overflow-x: scroll;
          scroll-behavior: smooth;
        }
        
        .card {
          width: 80vw;
          min-width: unset;
          height: 40vh;
          min-height: 400px;
        }
      }
    
      
    
  }
  @media  screen and (max-width:765px){
    .map{
      width: 500px;
     } 
     .map-area{
      width: 500px;
      
      }
      .cardas{
        column-count: 3;
      }
      

  }
  @media  screen and (max-width:515px){
    .text-block {
      max-width: 90%;
    }
 .map{
      width: 400px;
     } 
     .map-area{
      width: 400px;
      
      }
      .cardas{
        column-count: 2;
      }
    }
    @media  screen and (max-width:422px){
      .map{
        width: 350px;
       } 
       .map-area{
        width: 350px;
        
        }
        .cardas{
          column-count: 1;
        }
      
        
        }
